PORT=4000
AWS_REGION=us-east-1
DYNAMODB_TABLE_NAME=Letters
EVENTBRIDGE_SCHEDULE_ROLE_ARN=arn:aws:iam::123456789012:role/EventBridgeSchedulerRole
SEND_MESSAGE_LAMBDA_ARN=arn:aws:lambda:us-east-1:123456789012:function:send-letter
SES_FROM_EMAIL=hello@example.com
SES_SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SES_SMTP_PORT=587
SES_SMTP_USERNAME=your-smtp-username
SES_SMTP_PASSWORD=your-smtp-password
